Source: ros-hydro-cob-lbr
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-brics-actuator, ros-hydro-catkin, ros-hydro-cob-srvs, ros-hydro-diagnostic-msgs, ros-hydro-sensor-msgs, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/cob_lbr
Standards-Version: 3.9.2

Package: ros-hydro-cob-lbr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-brics-actuator, ros-hydro-cob-srvs, ros-hydro-diagnostic-msgs, ros-hydro-sensor-msgs, ros-hydro-trajectory-msgs
Description: cob_lbr
