Source: ros-indigo-frida-driver
Section: misc
Priority: extra
Maintainer: Alexander Bubeck <aub@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/frida_driver
Standards-Version: 3.9.2

Package: ros-indigo-frida-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: frida_driver
